/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 3, 2025, 1:51:36 PM
    Author     : bhant
*/

.left-form{
    -fx-background-color:linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;